body {
	background: rgb(66 66 66);
	display: flex;
	flex-direction: column;
	align-items: center;
}

H1 {
	display: flex;
	color: hotpink;
	justify-content: center;
	font-family: "Roboto Mono", serif;
}

h2 {
	display: flex;
	color: hotpink;
	justify-content: center;
	font-family: "Roboto Mono", serif;
}

.dish {
	padding: 1rem 0 3rem 0;
}

#aboutContainer {
	padding: 3rem 0 0 0;	
}

.aboutContent {
	display: flex;
	color: hotpink;
	justify-content: center;
	text-align: justify;
	font-family: "Roboto Mono Light", serif;
	max-width: 500px;
	padding: 2rem 0 0 0;
}

#taglineContainer {  
	display: flex;
	justify-content: center;
}

#tagline {
	color: hotpink;
	font-family: "Roboto Mono", serif;
}

button {
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px;
}

img {
	display: flex;
	border: 3px solid white;
}